*{
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
}
body {
    background: #363333;
  }
  
  /* header-styling for all pages*/
  #header {
    width: 100%;
    color: azure;
  }

  #header p{
    margin-bottom: 0 !important;
  }

  .btn-grouped {
    color: black;
    background-color: #10bd27;
    border: none;
    border-radius: 30px;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  button {
    border: none;
  }
  
  .btn-grouped:hover {
    background-color: #10bd2772;
    color: white;
  }
  
  .special{
    padding: 10px 40px;
    width: 100%;
    font-weight: bold;
  }
  
  .hidden {
    display: none;
  }
  
  .show {
    display: block;
  }
  
  .clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
  }
  
  .form_wrapper {
    background: #fff;
    width: 90%;
    box-sizing: border-box;
    padding: 10px 25px;
    z-index: 1;
    border-top: 5px solid #a0eb78;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    -webkit-transform-origin: 50% 0%;
    -webkit-transition: none;
    transition: none;
  }

  .form_wrapper h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
  }
  
  .form_wrapper .title_container {
    text-align: center;
    padding-bottom: 15px;
  }
  
  .form_wrapper .row {
    margin: 0px -15px;
  }
  
  .form_wrapper .row>div {
    box-sizing: border-box;
  }
  
  .form_wrapper .col_half {
    width: 50%;
    float: left;
  }
  
  .form_wrapper .input_field {
    position: relative;
    margin-bottom: 20px;
  }
  
  .form_wrapper .input_field>span {
    position: absolute;
    left: 0;
    top: 0;
    color: #333;
    height: 100%;
    border-right: 1px solid #cccccc;
    text-align: center;
    width: 30px;
  }
  
  .form_wrapper .input_field>span>i {
    padding-top: 10px;
  }
  
  .form_wrapper .textarea_field>span>i {
    padding-top: 10px;
  }
  .form_wrapper input[type="number"],
  .form_wrapper input[type="date"],
  .form_wrapper input[type="text"],
  .form_wrapper input[type="email"],
  .form_wrapper input[type="password"] {
    width: 100%;
    padding: 8px 10px 9px 35px;
    height: 35px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .form_wrapper input[type="file"] {
    width: 100%;
    padding: 8px 10px 9px 35px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
  }
  
  .form_wrapper input[type="number"]:hover,
  .form_wrapper input[type="date"]:hover,
  .form_wrapper input[type="text"]:hover,
  .form_wrapper input[type="email"]:hover,
  .form_wrapper input[type="password"]:hover {
    background: #fafafa;
  }
  .form_wrapper input[type="number"]:focus,
  .form_wrapper input[type="date"]:focus,
  .form_wrapper input[type="text"]:focus,
  .form_wrapper input[type="email"]:focus,
  .form_wrapper input[type="password"]:focus {
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 255, 21, 0.5);
    -moz-box-shadow: 0 0 2px 1px rgba(0, 255, 21, 0.5);
    box-shadow: 0 0 2px 1px rgba(0, 255, 21, 0.5);
    border: 1px solid #46cc63;
    background: #fafafa;
  }
  
  .form_wrapper input[type="submit"] {
    background: #46cc63;
    height: 35px;
    line-height: 35px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.1em;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .form_wrapper input[type="submit"]:hover {
    background: #10bd27;
  }
  
  .form_wrapper input[type="submit"]:focus {
    background: #10bd27;
  }
  
  .form_wrapper input[type="checkbox"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .form_container .row .col_half.last {
    border-left: 1px solid #cccccc;
  }

.promotions{
  overflow-y: scroll;
    height: 50vh;
}
  
  .select_option {
    position: relative;
    width: 100%;
  }
  
  .select_option select {
    display: inline-block;
    width: 100%;
    height: 35px;
    padding: 0px 15px;
    cursor: pointer;
    color: #7b7b7b;
    border: 1px solid #cccccc;
    border-radius: 0;
    background: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: all 0.2s ease;
  }
  
  .select_option select::-ms-expand {
    display: none;
  }
  
  .select_option select:hover,
  .select_option select:focus {
    color: #000000;
    background: #fafafa;
    border-color: #000000;
    outline: none;
  }
  
  .select_arrow {
    position: absolute;
    top: calc(50% - 4px);
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-width: 8px 5px 0 5px;
    border-style: solid;
    border-color: #7b7b7b transparent transparent transparent;
  }
  
  .select_option select:hover+.select_arrow,
  .select_option select:focus+.select_arrow {
    border-top-color: #000000;
  }
  
  .message {
    margin: 15px 0 0;
    text-align: center;
    color: #b3b3b3;
    font-size: 12px;
  }
  
  .message a {
    color: #4aba2e;
    text-decoration: none;
  }
  
  .radio_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    height: 5%;
    box-shadow: inset 0.5px 0.5px 2px 0 rgba(0, 0, 0, 0);
    margin-bottom: 5%;
  }
  
  input[type="radio"] {
    appearance: none;
    display: none;
  }
  
  label {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    width: 80px;
    height: 40px;
    text-align: center;
    overflow: hidden;
    transition: linear 0.3s;
    color: #6e6e6ed2;
  }
  
  input[type="radio"]:checked+label {
    background-color: #46cc63;
    color: #f1f3f5;
    font-weight: 900;
    transition: 0.3s;
  }
  
  input[type="radio"]:hover+label {
    background-color: #46cc63;
    color: #f1f3f5;
    font-weight: 900;
    transition: 0.3s;
  }
  
  input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #4aba2e;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #4aba2e;
  }
  
  @media (max-width: 600px) {
    .form_wrapper .col_half {
      width: 100%;
      float: none;
    }
  
    .bottom_row .col_half {
      width: 50%;
      float: left;
    }
  
    .form_container .row .col_half.last {
      border-left: none;
    }
  }