body{
	overflow:auto
}

table { 
	width: 750px; 
	border-collapse: collapse; 
	}

th { 
	background: #10bd27; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
	}

.labels tr td {
	background-color: #2cc16a;
	font-weight: bold;
	color: #fff;
}

.label tr td label {
	display: block;
}


[data-toggle="toggle"] {
	display: none;
}

.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
    margin-left: -1px;
}

.db-image {
	width: 300px;
	margin: 3%;
}

.upload-form {
	width: 80%;
	margin: 2% 10%;
}

.file {
	margin: 5px 0;
}
